@import url("https://fonts.googleapis.com/css2?family=Itim&display=swap");

:root {
	--dark-1: hsl(0, 0%, 5%);
	--dark-2: hsl(0, 0%, 10%);
	--dark-3: hsl(0, 0%, 15%);
	--dark-4: hsl(0, 0%, 20%);
	--dark-5: hsl(0, 0%, 25%);
	--dark-6: hsl(0, 0%, 30%);
	

	--light-1:hsl(0, 1%, 90%);
	--light-2:hsl(0,0%,85%);
	--light-3:hsl(0, 0%, 90%);
	--light-4:hsl(0,0%,75%);
	--light-5:hsl(0,0%,70%);
	--light-6:hsl(0,0%,65%);

	--green:green;
	--red:red;

	
	--site-bg: var(--light-1);
	--notepad-bg: var(--light-4);
	--left-panel-bg:var(--light-2);
	--search-cont-bg:var(--light-3);
	--search-cont-input-bg:var(--light-5);
	--options-cont-bg:var(--light-3);
	--files-cont-bg:var(--light-2);
	--file-bg:var(--light-4);
	--file-hover-bg:var(--light-6);
	--notepad-cont-bg:var(--light-4);
	--back-btn-bg:var(--green);
	--file-head-cont-bg:var(--light-4);
	--notepad-bg:var(--light-3);




	--text-color: var(--dark-1);
	--border-color: var(--dark-6)
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body.dark {
	--site-bg: var(--dark-1);
	--notepad-bg: var(--dark-3);
	--text-color: var(--light-6);
	--border-color:var(--light-6);
}

body {
	font-family: "Itim", cursive;
	font-size: larger;

	background-color: var(--site-bg);
	
	overflow: hidden;
	color: var(--text-color);
	caret-color: var(--text-color);
	transition: background-color 200ms ease;
}

.app-container .left-panel {
	display: none;
}

.app-container .notepad-container {
	display: block;
}

.app-container.left .notepad-container {
	display: none;
}

.app-container.left .left-panel {
	display: block;
}

.app-container {
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;

	display: flex;
}

.left-panel {
	width: 100%;
	background-color: var(--left-panel-bg);
}

.search-container {
	width: 100%;
	background-color: var(--search-cont-bg);
	padding: 1.5em 0.5em;
	display: flex;
	align-items: center;
	justify-content: center;
}

.search-container input {
	width: 80%;
	min-width: 200px;
	padding: 1em;
	border-width: 0;
	border-radius: 5px;
	outline: none;
	background-color: var(--search-cont-input-bg);
	color: var(--text-color);
}

.options-container {
	width: 100%;

	background-color: var(--options-cont-bg);

	border: 1px solid var(--border-color);
	border-width: 1px 0;
	padding: 0.5em;
	display: flex;
	align-items: center;
	justify-content: flex-end;
}

.options-container button {
	padding: 0.5em;
}

.options-container .add-btn {
	background-color: transparent;
	color: var(--text-color);
	border: 1px solid var(--text-color);
	border-radius: 5px;
	font-weight: bold;
}

.options-container .add-btn:hover {
	background-color: var(--back-btn-bg);
	color: var(--options-cont-bg);
}

.files-container {
	overflow-y: auto;
	width: 100%;
	height: 100%;
	background-color: var(--files-cont-bg);
}

.files-container .file {
	width: 100%;
	min-height: 2rem;
	padding: 0.5em 1em;
	
	background-color: var(--file-bg);

	border: 1px solid var(--border-color);
	border-width: 0px 0 1px 0;
	position: relative;
	cursor: pointer;
}

.files-container .file:hover {
	background-color: var(--file-hover-bg);
}

.files-container .file p {
	padding: 0.4em;
}

.file .delete-btn {
	position: absolute;
	right: 10%;
	top: 50%;
	transform: translateY(-50%);

	padding: 0.5em;
	font-weight: bold;

	background-color: transparent;
	border: 1px solid var(--red);
	border-radius: 5px;
	color: var(--red) ;
}

.file .delete-btn:hover {
	background-color: var(--red);
	color: var(--files-cont-bg);
}

.notepad-container {
	width: 100%;
	height: auto;
	overflow-y: scroll;
	background-color: var(--notepad-cont-bg);
	transition: background-color 200ms ease;
	padding: 1em;
}

#save-indicator {
	width: 100%;
	height: 0.5rem;
	background-color: var(--green);
	border-radius: 2px;
	margin-bottom: 0.5em;
}

.file-head-container {
	display: flex;
	padding: 0.5em 1em;
	margin: 0 0.5em;
	justify-content: space-between;
	border-bottom: 1px solid var(--border-color);
	background-color: var(--file-head-cont-bg);
}

.file-head-container .current-delete-btn {
	padding: 0.5em 1em;
}

.file-head-container #filename {
	/* flex-grow: 1; */
	width: 90%;
}

#filename {
	outline: none;
	border: none;
	background-color: transparent;
	font-size: 1.5rem;
	color: var(--text-color);
	padding: 0.2em 0;
}

#filename:focus,
#filename:hover {
	outline: 1px solid var(--border-color);
}

#notepad {
	width: 98%;
	min-height: 100%;
	overflow: hidden;
	border-radius: 2px;

	display: block;
	font-family: "Itim", cursive;
	font-size: 1.2rem;
	margin-top: 1em;
	padding: 0.5rem;
	background-color: var(--notepad-bg);
	color: var(--text-color);

	resize: none; /* remove resize symmbol */

	outline: none;

	border: none;
	transition: background-color 200ms ease;
}

.center {
	margin: auto;
}

.text-center {
	text-align: center;
}

.remove-btn-style {
	outline: none;
	border: none;
}

/* Small devices (landscape phones, 576px and up) */
@media (min-width: 576px) {
}

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) {
	.app-container .left-panel {
		display: block;
	}

	.app-container .notepad-container {
		display: block;
	}

	.app-container.left .notepad-container {
		display: block;
	}

	.app-container.left .left-panel {
		display: block;
	}

	.left-panel {
		width: 30%;
		max-width: 350px;
	}

	.notepad-container {
		width: 100%;
	}

	.back-btn {
		display: none;
	}

	.files-container .file[data-selected="true"] {
		background-color: var(--file-bg);
	}

	.files-container .file .delete-btn {
		opacity: 0;
		display: none;
	}

	.files-container .file:hover .delete-btn {
		display: block;
		opacity: 1;
	}
}

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) {
}

/* X-Large devices (large desktops, 1200px and up) */
@media (min-width: 1200px) {
}

/* XX-Large devices (larger desktops, 1400px and up) */
@media (min-width: 1400px) {
}
